@import '../variables';

.modal-kda-c {
  font-family: $font-family;
  font-weight: 400;
  color: $light;

  .modal-content {
    border: 0;
    border-radius: 0;
  }

  .modal-body {
    background-color: $dark;
  }

  &-content-wrapper {
    @include azure-lane(left);
    padding:3px;
  }

  &-content {
    background-color: $dark;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;

       

    &-text {
      padding: 2rem;
    }
  }

  h2 {
    display: inline-block;
    margin: auto;
    font-weight: 900;
    @include azure-lane(right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin: 2rem auto;
    font-weight: 300;
  }

  &-btn {
    border-radius: 0;
    border:0;
    padding: 0.5rem 2rem;
    font-weight: 900;
    @include azure-lane(left);
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all ease-in 0.1s;
    font-family: $font-kda;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
      @include shadow-sharp();
      transform: scale(1.048, 1.048) translateZ(0);
    }
  }

  &-content-text {
    width: 60%;
    position: relative;
  }

  &-content-bgimg {
    background: no-repeat;
    background-size: cover;
    width: 40%;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .evelynn {
    .modal-kda-c-content-bgimg {
      background-image: url(../../public/img/score-evelynn.png);
    }
  }

  .akali {
    .modal-kda-c-content-bgimg {
      background-image: url(../../public/img/score-akali.png);
    }
  }

  .kaisa {
    .modal-kda-c-content-bgimg {
      background-image: url(../../public/img/score-kaisa.png);
    }
  }

  .ahri {
    .modal-kda-c-content-bgimg {
      background-image: url(../../public/img/score-ahri.png);
    }
  }
}
