@import "../variables";

.header {
  background-color: #f1f1f1;
  display: flex;
  font-family: $font-family;
  font-weight: 400;

  h1, .nav, .score {
    flex: 1 1 auto;
  }

  h1 {
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5;
    color: $purple-text;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    a {
      display: block;
      padding: .5rem 1rem;
      text-decoration: none;
      color: $purple-text;
      font-weight: 300;
      text-transform: uppercase;
      font-size: .75rem;
      line-height: 2;
      
      
      &:hover {
        color: #f2f2f2;
        @include azure-lane();
      }
    }
  }

  .score {
    display: flex;
    @include azure-lane();
    font-family: $font-family;
    font-weight: 900;
    color: #f2f2f2;

    &-turns {
      flex: 1 1 auto;
      padding: .5rem;
      text-align: center;

      span {
        text-transform: uppercase;
        font-weight: 400;
        font-size: .75rem;
        vertical-align: text-bottom;
        margin-right: .5rem;
      }

    }

    &-reset {
      &-btn {
        background: none;
        border: none;
        border-radius: 0;
        font-size: 1rem;
        line-height: 1.75;

        &:hover {
          background-color: $purple;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}