@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@font-face {
  font-family: 'KDAFont';
  src: local('KDAFont'),
  url("./font/KDA.otf") format("opentype"),
  url("./font/KDA.ttf") format("truetype");
  font-weight: 400;
}

@import '_variables.scss';

body {
  margin: 0;
  background-color: #333;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  @include azure-lane-pattern();
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}